*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: black; */
}


.font{
  font-family: "Inter", sans-serif;
  
}

header{
 vertical-align: middle;
 
}


.btn{
     background-color: #469165;
    color:white;
    border:none;
    border-radius:4px;
    font-size: 16px;
    font-weight: semi-bold;
    height: 52px;
    width: 251px;
    display: flex;
    gap:10px ;
    justify-content: center;
    align-items: center;
}


/* =============== Nav  ============ */


#nav{

/* border: 1px solid red; */
max-height: 92px;


}

#nav .nav-content{
    border: 1px solid black;
    
    display : flex;
    /* justify-content: space-between; */
    gap:346px;
    
}

#nav .nav-content .nav-img img{
    padding: 16px 0;
    margin-left:120px ;
}


#nav .nav-content .nav-text{
    /* border: 1px solid red; */
    display: flex;
    gap: 32px;
    font-size: 17px;
    font-weight: medium;
    justify-content: space-around;
    align-items: center;
    
   
}

#nav .nav-content .nav-btn{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    
    
}
#nav .nav-content .btn{
    /* border: 1px solid red; */
    background-color: #469165;
    padding: 12.5px 16px;
    color:white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semi-bold;
    width: 164px;
    height: 44px;
}

#nav .nav-content .btn:hover {
    background-color: #3a7f57;
    box-shadow:0px 6px 14px rgba(0, 0, 0, 0.211);
    transform: translateY(-4px);
}



/* =================== Banner ==================*/

#banner{
    /* border: 1px solid red; */
    background-image: url(assets/hero-bg.png);
    height: 674px;
    max-width: 1600px;
    margin: 0px;
    
}

#banner .banner-content{
    /* border: 1px solid red; */
    padding:115px 120px;
    text-align: center;
}



#banner .banner-content .banner-one-btn{
    
    display: flex;
    align-items:center;        
    justify-content:  center;
}


#banner .banner-content .banner-one-btn .banner-btn{
    font-size: 16px;
    font-weight: medium;
    color:#469165;
    border-radius: 1000px;
    /* padding: 8px 12px 8px 34px; */
    border: none;
    margin-bottom: 16px;
    width: 229px;
    height: 35px;
    display: flex;
    align-items:center;        
    justify-content:  center;    
    gap:6px;
   
}



#banner .banner-content .banner-text-h{
    font-size: 72px;
    font-weight: Bold;
    margin-bottom: 16px;
}
#banner .banner-content .banner-text-p{
    font-size: 18px;
    font-weight: regular;
    margin-bottom: 32px;
    line-height: 30px;
    color: white;
}

#banner .banner-content .banner-two-btn{
    display: flex;
    gap:16px;
    justify-content: center;
}




#banner .banner-content .banner-two-btn .banner-secbtn{
    background-color: transparent;
    color:white;
    border:1px solid white;
    border-radius:4px;
    font-size: 16px;
    font-weight: semi-bold;
    width: 198px;
    height: 52px;
    display: flex;
    gap:10px ;
    justify-content: center;
    align-items: center;
}

#banner .banner-content .banner-one-btn .banner-btn:hover {
    background-color:#469165;
    color: white;
}


#banner .banner-content .banner-two-btn .btn:hover {
        background-color: #3a7f57;
    transform: scale(1.06);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


#banner .banner-content .banner-two-btn .banner-secbtn:hover {
    background-color:white;
    color: #001931;
    border-color: white;
}





/* ================== Note ===================== */

#note{
    /* border:1px solid red; */
  text-align: center;
  max-width: 1600px;
  position: relative;
    overflow: hidden;
    z-index: 1;
}


#note .note-content{
    /* border:1px solid red; */
    padding: 0px 120px;
    
}

#note .note-text{
    /* border:1px solid red; */
   padding-top: 60px;
}

#note .note-text h6{
/* border:1px solid red; */
 font-size: 48px;
 font-weight: bold;
 color: #001931;
 margin-bottom: 16px;
 
}

#note .note-text p{
/* border:1px solid red; */
font-size: 15px;
font-weight: regular;
color: #627382;
margin-bottom: 44px;
}



#note .note-card-content{
    display: flex;
    /* border:1px solid red;  */
    gap:24px;
}

#note .note-card-content .note-card{
    /* border:1px solid red;  */
    padding-top: 70px;
    box-shadow: 0px 0px 8px  0px rgba(0, 0, 0, 0.114);
    text-align: center;
}

#note .note-card-content .note-card .circle{
     width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 16px;
    display: flex;
     justify-content: center;
     align-items: center;
      max-width: 274px;
}

#note .note-card-content .note-card h2 {
    font-size: 24px;
    font-weight: semi-bold;
    color: #001931;
   
    margin-bottom: 16px;
    
}
#note .note-card-content .note-card p {
    font-size: 16px;
    font-weight: regular;
    color: #627382;
    margin-bottom: 70px;
    padding:0 23px;
}

#note .note-card-content .note-card .circle img{
    width: 24px;      
    height: 24px;
    object-fit: contain;
}



/* =================== Brain====================== */

#brain{
    margin-top:-50px;
    /* border: 1px solid red; */
      position: relative;
    z-index: 2;
    background-color: white;
    max-width: 1600px;
    
    
}

#brain .brain-content{
     /* border: 1px solid red; */
 padding: 120px;
 display: flex;
 gap:60px;
}



#brain .brain-content .brain-text{
     /* border: 1px solid red; */
    padding-top:102px;
    /* max-width: 700px; */

}

#brain .brain-content .brain-text .brain-heading .p1{
    font-size: 16px;
    font-weight: medium;
    color:#469165;
    margin-bottom:16px;
}

#brain .brain-content .brain-text .brain-heading h4{
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom:16px;
}

#brain .brain-content .brain-text .brain-heading p{
    font-size: 16px;
    font-weight: regular;
    color:#627382;
    margin-bottom:40px;
}

#brain .brain-content .brain-text .brain-point .point{
    display: flex;
    gap:6px;
    margin-bottom: 16px;
}


/* ================== Early ===================== */

#early{
    /* border: 1px solid red; */
    max-width: 1600px;
    margin-top: 0 ;
    padding: 0 120px;
}

#early .early-content{
    /* border: 1px solid red; */
    background-color: #F7F6F2;
    text-align: center;
    margin-bottom: 120px;
    border-radius: 12px;
}

#early .early-content .early-text{
    margin-top: 40px;
    /* border: 1px solid red; */
    padding-bottom: 24px;
}
#early .early-content .early-text h3{
    font-size: 40px;
    font-weight: bold;
    color:#001931;
    padding-bottom: 16px;
    padding-top: 80px;
}
#early .early-content .early-text p{
    font-size: 15px;
    font-weight: regular;
    color:#627382;
}


#early .early-content .early-btn{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    
}

  #early .early-content .early-btn button{
    background-color: #469165;
    color:white;
    border:none;
    border-radius:4px;
    font-size: 16px;
    font-weight: semi-bold;
    height: 52px;
    width: 194px;
    display: flex;
    gap:10px ;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.132);
}

 #early .early-content .early-btn p{
     padding-top: 16px;
     color:#627382;
     font-size: 16px;
    font-weight: regular;
    padding-bottom: 80px;
 }

#early .early-content .early-btn button:hover {
    background-color: #3a7f57;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.22);
    transform: translateY(-3px);
     transform: scale(1.2);
}



 /* ================= Footer ================ */
 footer{
    background-color: #001931;
    color: white;
    max-width: 1600px;
 }


 footer .footer-content{
    /* border: 1px solid red; */
    max-width: 1360px;
    margin: 0 auto;
    
 }


 footer .footer-img{
    display: flex;
    gap:1001px;
    justify-content: space-between;
    padding-top: 120px;
    /* border: 1px solid red; */

 }



footer .footer-content .footer-text p{
    font-size: 20px;
    font-weight: medium;
    padding-bottom: 18px;
    padding-right: 107px;
}
footer .footer-content .footer-text-img{
    display: flex;
    gap:16px;
    padding-right: 128px;
}






footer .footer-heading{
    text-align: center;
    padding-bottom: 30px;
    margin-top: 80px;
    border-top: 0.9px solid rgba(255, 255, 255, 0.207);
    
}

footer .footer-heading p{
    padding-top: 30px;
}
